{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<main>
    <h1>Portfolio</h1>
    <table>
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>

        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">$8,621.76</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">$10,000.83</td>
            </tr>
        </tfoot>
    </table>

        </main>
{% endblock %}