{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<main>
    <h1>Portfolio</h1>
    <table>
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares Owned</th>
                <th class="text-end">Price Per Share</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in holdings %}
            <tr>
                <td class="text-start">{{ holding.stock_symbol }}</td>
                <td class="text-start">{{ holding.name }}</td>
                <td class="text-end">{{ holding.quantity }}</td>
                <td class="text-end">{{ holding.price | default(0) | usd }}</td>
                <td class="text-end">{{ holding.total_value | usd }}</td>
            </tr>
            {% endfor %}
            <tr><p>Cash Balance: {{ cash_balance | usd }}</p>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash Available</td>
                <td class="border-0 text-end">{{ cash_balance | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Total Stock Value</td>
                <td class="border-0 text-end">{{ total_holdings_value | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL VALUE (Cash + Stock Value Total)</td>
                <td class="border-0 w-bold text-end">{{ grand_total | usd }}</td>
            </tr>
        </tfoot>
    </table>
</main>
{% endblock %}
